body {
    min-width: 800px;
    min-height: 500px;
    padding: 10px;
}

#top-btns > .btn{
    margin: 5px;
}

#toolbar {
    padding-right: 20px;
}

.bg-green {
    background-color: #98D7C2;
}

.bg-red {
    background-color: #cc3300;
    color: white;
}

.bg-orange {
    background-color: #FFBF80;
}

.bg-yellow {
    background-color: #FFFF81;
}

.bg-blue {
    background-color: #9dd5fb;
}